# Файлы виртуального окружения
venv/
.venv/
.venv/

# Файлы Python
*.pyc
__pycache__/

# Файлы базы данных
*.sqlite3
*.db

# Файлы логов
*.log

# Файлы .env
.env

# Файлы IDE
.idea/
*.swp
*.swo
*.DS_Store

# Файлы статики (если вы используете collectstatic)
static/

# Файлы медиа (если вы используете медиа файлы)
media/

# Файлы миграций (если вы не хотите отслеживать миграции)
# migrations/

# Другие файлы
*.egg-info/
*.dist-info/
build/
dist/
__pycache__/